In [8]:
from selenium import webdriver
import os
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support.select import Select
import lxml.html
from selenium.common.exceptions import NoSuchElementException
import requests
from bs4 import BeautifulSoup
import re

In [2]:
driverLocation= "C:\\Users\\User\\Desktop\\chromedriver.exe"
os.environ['webdriver.chrome.driver'] = driverLocation
driver = webdriver.Chrome(driverLocation)
driver.get('https://bitinfocharts.com/comparison/tweets-btc-eth-ltc.html')
pagesource = driver.page_source
driver.quit()

In [3]:
soup=BeautifulSoup(pagesource,'html.parser')

In [6]:
##TO FIND THE LOCATION OF SPECIFIC CHART_DATA SCRIPT PLACES

chart_data=soup.find_all('div',)[7].find_all('script',)[2]

In [12]:
##TO OBTAIN EXACT DATA BY USING REGEX

pattern=re.compile(r'(\w+\W+\w+\W+\w+\W+),(\w+),(\w+),(\w+)')

In [11]:
#PARSE THE DATA INTO INDIVIDUAL COLUMNS
Date=[]
Btc_Tweet=[]
Eth_Tweet=[]
Ltc_Tweet=[]

for match in re.finditer(pattern,str(chart_data)):
    Date.append((match.group(1)[0:10]))
    Btc_Tweet.append(match.group(2))
    Eth_Tweet.append(match.group(3))
    Ltc_Tweet.append(match.group(4))

In [13]:
import pandas as pd
df=pd.DataFrame(list(zip(Date,Btc_Tweet,Eth_Tweet,Ltc_Tweet)),
              columns=['Date','Btc_Tweet_Count','Eth_Tweet_Count','Ltc_Tweet_Count'])

In [15]:
df.tail()

            Date Btc_Tweet_Count Eth_Tweet_Count Ltc_Tweet_Count
2051  2019/11/20           18338            4708             881
2052  2019/11/21           21597            4012             907
2053  2019/11/22           24404            4443            1083
2054  2019/11/23           16543            3602             926
2055  2019/11/24            5359            1197             295

In [16]:
df.to_csv("Bitcoin_Tweet_Volume.csv", encoding='utf-8', index=False)